html, body{

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.container {
    display: flex;
}

.content {
    width: 30%;
    padding: 5px;
}

.container-seperated {

    display: flex;
    justify-content: space-between;
}

.imgbox {
    margin: 0;
    padding: 0;

    display: grid;
    height: 100%;
}

#page {

    max-width: 100%;
    max-height: 100vh;

    margin-right: 20px;
}

#page:active {

    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}

#text {

    max-width: 600px;
    font-size: xx-large;
}

.word-card {

    line-height: 5px;

    margin: 20px;
    padding: 20px;
    margin-top: 5px;

    font-family: Arial;

    border-bottom: 4px solid cornflowerblue;
    border-radius: 10px;

    transition-duration: 200ms;
}

.word-card:hover {

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

#word-container {

    height: 400px;

    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

#word-container::-webkit-scrollbar {display: none;}

.common {

    background-color: rgb(139, 199, 48);
    padding: 5px;
    border-radius: 20px;
    font-family: monospace;
}

.tags {
    
    font-family: monospace;
    border-radius: 20px;
    padding: 10px;
    background-color: lightblue;
    height: fit-content;
    width: fit-content;
}

#meanings {


    
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#meanings li {

    font-size: large;
}